# Dependencies
node_modules/

# Production
dist/
build/

# Environment
.env
.env.local

# Prisma
/generated/
/prisma/migrations/
/prisma/*.db
/prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Misc
.eslintcache
*.tsbuildinfo
